# Configuration de la base de données (A remplir par chacun)
DATABASE_URL=postgres://postgres:chicken123@localhost:5432/splitmate

# Secret pour le token (Mettez ce que vous voulez)
JWT_SECRET=votre_cle_secrete_super_longue

# Port du serveur
PORT=5000